
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    position: fixed;
    z-index:10;
}

 /*Menu burger*/

/*div des 3 barres du menus ensemble*/
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 93px;
  left: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}

/* barres du menu*/
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: flex;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 20px;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 30px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 30px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              left 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*fond du menu qui bouge*/
.nav{
  position: fixed;
  top: 91px;
  left: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              left 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
/*Animation border-transform*/
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

/*Animation de la bulle du menu qui s'ouvre*/
.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  transform: translate(38%, -38%); 
  width: 20%;
  height: 30%;
  transition: top 150s 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              left 150ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*Bloc des écritures*/
.nav ul{
  position: absolute;
  top: 50%;
  left: 6vw;
  display: block;
  width: 100%;
  z-index: 6;
  text-align: left;
  transform: translateY(-50%);
  list-style: none;
}

/*Cacher le petit carré du label*/
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
/*Textes*/
.nav ul li{
position: relative;
display: block;
width: 100%;
padding: 0;
margin: 10px 0;
text-align: left;
list-style: none;
pointer-events: none;
opacity: 0;
visibility: hidden;
transform: translateY(30px);
transition: all 250ms linear;
}
/*Liens qui renvoient aux pages*/
.nav ul li a{
font-family: 'DINNextLTPro-Black', sans-serif;
font-size: 2vh;
text-transform: uppercase;
line-height: 1.2;
font-weight: 800;
display: inline-block;
position: relative;
color: #ececee;
transition: all 250ms linear;
}
/*Passage sur les liens*/
.nav ul li a:hover{
text-decoration: none;
color: #c59967;
}
/*Après le passage des liens*/
.nav ul li a:after{
display: block;
position: absolute;
top: 50%;
content: '';
height: 2vh;
margin-top: -1vh;
width: 0;
left: 0;
background-color: #353746;
opacity: 0.8;
transition: width 250ms linear;
}
.nav ul li a:hover:after{
width: 100%;
}

/*Quand on ouvre le menu : affichage des écritures*/
.menu-icon:checked ~ .nav  ul li {
pointer-events: auto;
visibility: visible;
opacity: 1;
transform: translateY(0);
transition: opacity 350ms ease,
          transform 250ms ease;
}

/*Ecritures qui apparaissent successivement après l'ouverture du menu*/
.menu-icon:checked ~ .nav ul li:nth-child(1){
transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
transition-delay: 1640ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(5){
transition-delay: 1720ms;
}

/*Gestion des logos en haut*/
footer>#logo1{
    position: fixed;
    z-index: 30;
    top: 5vh;
    left: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Gestion des logos en bas*/
footer>#logo2{
  position: fixed;
    z-index: 30;
    bottom: 5vh;
    left: 95.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*taille des logos*/
#logo_dune{
    width: 10em;
    height: auto;
}

#logo_wb, #logo_leg, #logo_twitter, #logo_insta {
    width: 2em;
    height: auto;
}

#logo_fb{
    width: 1.1em;
    height: auto;
}
/*Gestion des pages*/
section{
    height: 100vh;
    font-size: 3vh;
    text-align:center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*Page 1 = Home */
section:nth-of-type(1){
     background-image: url('../medias/images/Dune03.webp');
     padding: 100px 50px;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}
/*Titre*/
section:nth-of-type(1)> h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  width: 35vw;
}
/*Taille de la video*/
#video {
  width: 40vw;
  height: calc(40vw * 390 / 640);
  display: block;
  z-index: 120;
}

/*Page 2 = About the film*/
section:nth-of-type(2){
    background-image: url('../medias/images/dune-timothee-chalamet-rebecca-ferguson.jpeg');
    padding: 30vh 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
    position: relative;
}

/*Taille de l'image de la 2ème page */
section:nth-of-type(2)>img{
    width: 60vh;
    height: auto;
    z-index: 20; /*Placer devant la bande blanche*/
}

/*Bande transparente qui contient le texte*/
section:nth-of-type(2)>div{
    background-color: #C0C0C0;
    opacity: 0.90;
    position: absolute;
    z-index: 0;
    width: 98.9vw;
    height: 15vw;
    left:0;
    top: 21.5em;
    column-count: 3;
    padding-top: 10vh;
    padding-right: 3vw;
    padding-left: 3vw;
}
/*Texte*/
p {
  font-size: 15px;
  text-align: justify;
  font-family: 'DINNextLTPro-Black', sans-serif;
  color: white;
}
/*Titre*/
h1{
  font-family: 'DINNextLTPro-Black', sans-serif;
}

/* Page 3 = Characters*/
section:nth-of-type(3){
    background-image: url('../medias/images/Persos.jpg');
    padding: 10vw 10vw;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
/*Titre*/
section:nth-of-type(3)> h1 {
  font-size: 1.5rem;
  margin-top: 20vw;
  width: 35vw;
}

/*Taille du carousel*/
#Carousel {
  width: 40vw;
  height: 35vw;
  margin: auto;
  position: relative;
 }

 /*Images du carousel*/
#Carousel> img {
 position: absolute;
 top:0;
 left: 0;
 object-fit: cover;
 width: 100%;
 height: 100%;
 }

 /*Boutons du carousel*/
span {
 display: inline-block;
 width: 2vw;
 height: 2vw;
 margin: 0 1vw;
 border-radius: 50%;
 background-color: rgb(201, 192, 192);
 cursor: pointer;
 }

 /*pour pas que toute la liste des personnages s'affiche*/
#Carousel >img:not(:first-of-type) {
 display: none;
 }

  /*Afficher les personnages du carousel*/
#Carousel>p{
    display: none;
    position: relative;
    left:0;
    z-index: 30;
    text-align: center;
    top: 25.5em;
    background-color:  #C0C0C0;
    opacity: 0.70;
    color: black;
    padding: 0.5em;
}
/*Boutons du carousel*/
span{
  width: 2vh;
  height: 2vh;
}
/*Au survol du bouton*/
span:hover{
  border: 0.9px dotted #474240;
  color: #a34f3a;
  background: #fff;
}


/*Page 4 = Videos & Images*/
section:nth-of-type(4){
    background-image: url('../medias/images/Dune02.webp');
    display: flex;
    align-items:center;
}
/*Titre*/
section:nth-of-type(4)> h1 {
  font-size: 1.5rem;
  width: 35vw;
  bottom: 39%;
  position: relative;
  text-align: right;
  left:42%

}

/*Bande blanche derrière le carousel*/
#gris{
  background-color: #C0C0C0;
    opacity: 0.90;
    position: absolute;
    z-index: 0;
    width: 98.9vw;
    height: 33vw;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


/* Carousel */
.slideshow-container {
  width: 60%;
  height: 60%;
  position: absolute;
  margin: auto;
  display: flex;
  bottom: 40%;
  z-index: 5;
  left: 22vw;
}

/* Cache les images */
.mySlides {
  display: none;
}

/*Images prennent 100% du conteneur*/
.mySlides>img{
  width: 100%;
  display: flex;
  align-items:center;
  margin-top: 1.8vw; 
}

iframe {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  text-align: center;
}

/* Boutons après + avant */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  margin-top: -22px;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position du bouton après */
.next {
  left: 70vw;
  border-radius: 3px 0 0 3px;
}

/*Position du bouton avant*/
.prev {
  right: 70vw;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
    

/*Page 5 = Find a Theater*/
section:nth-of-type(5){
    background-image: url('../medias/images/10.jpg');
    display: flex;
    align-items: flex-end;
}

/*Bande blanche*/
#blanc{
  background-color: #C0C0C0;
  opacity: 0.90;
  position: absolute;
  z-index: 0;
  width: 98.9vw;
  height: 25vw;
  margin-top: 5px;
  margin-bottom: 20px;
}

/*Titre*/
section:nth-of-type(5)>h1 {
  font-size: 1.5rem;
  width: 35vw;
  bottom: 60%;
  position: relative;
  text-align: right;
  left:42%
}
/*Boutons "Localise moi"*/
button {
  top: 9%;
  position: relative;
  text-align: left;
  right: 30%;
}
 /* Dimensionner la carte */
 #map{
  width: 50vw;
  height: 40vh;
  margin:auto;
  z-index: 3;
  top: 3%;
  left: 16%;
  }

  
 /* body > div {
    position: relative;
    width: 50vw;
    height: calc(50vw * 390 / 640);
    margin: auto; 
  }*/
  
  /*Scroller */
  .scroll {
    position: fixed !important;
    width: 30vw !important;
    height: calc(30vw * 3 / 4) !important;
    top: 5vh !important;
    right: 5% !important;
  }
/* Gestion du scroll snapping */
  html{
    scroll-snap-type: y proximity;
  }
/* Les enfants du conteneur sont les éléments sur lesquels le navigateur "s'aligne" */
  section{
    scroll-snap-align: start;
  }


    
    

  